.men {
	padding: 2%;
	text-decoration: none;
}
.noticia li  {
list-style: none;
color: black;
border: none;
padding:2% ;
display: inline-block;
}
.noticia li a {
	color: black;
}
.noticia li .en {
	text-decoration:underline;
}
.arti li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid black;
	padding: 1%;
}
.arti li:first-child 
{
border-left:none; }

.contai_hv{
background: #A4A4A4;
}

.lis_in {
	list-style: none;
}
/*derecha*/
.sub_tit {
	color: white;
	background: #585858;
	padding: 2%;
	width: 48%;
}
/*cntro*/
.fecha {
	background-color:#BDBDBD;
	width:100%; 
	height:100%;
	padding: 2%;
	font-size: 150%;
	text-align: center; 
}


/*izquierda*/
.contai_iz{
	background: #BDBDBD;
}


footer {
	border-top: 6px solid #424242;

}

footer ul li{
	padding: 3%;
	border-top: 2%;

}