

/*menu*/
.menu_bar {
	display:none;
}

@media screen and (max-width:800px ) {
	header  .menu_ {
		width:40%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 
	header .menu_ .men li {
		display:block;
		float:none;
		
		background:  #151515;
		color:#fff;
		padding:10px;
		font-size: 18px;
		border: 1px solid #fff;

	}
	.men li a { 
		color:#fff;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:25px;
		background: #151515;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:15px;
	}
	
}




.men {
	padding: 2%;
	text-decoration: none;
	background: #A4A4A4;

}
.men li a {
	color:#fff;
	font-size: 15px;
	border-radius: 2px solid #151515;
}

.noticia li  {
list-style: none;
color: black;
border: none;
padding:2% ;
display: inline-block;
}
.noticia li a {
	color: black;
}
.noticia li .en {
	text-decoration:underline;
}
.arti li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid black;
	padding: 1%;
}
.arti li:first-child 
{
border-left:none; }

.contai_hv{
background: #A4A4A4;
}

.lis_in {
	list-style: none;
}
/*derecha*/
.sub_tit {
	color: white;
	background: #585858;
	padding: 2%;
	width: 48%;
}
/*cntro*/
.fecha {
	background-color:#BDBDBD;
	width:100%; 
	height:100%;
	padding: 2%;
	font-size: 150%;
	text-align: center; 
}


/*izquierda*/
.contai_iz{
	background: #BDBDBD;
}


footer {
	border-top: 6px solid #424242;

}

footer ul li{
	padding: 3%;
	border-top: 2%;

}